name: Run Examples

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
    GITHUB_TOKEN: ${{ secrets.GH_UTIL_TOKEN }}

jobs:
  run-examples:
    name: python-${{ matrix.python-version }} ${{ matrix.os }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
            - "3.12"
        os:
            - ubuntu-latest
            - macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      id: setup_python
      with:
        python-version: ${{ matrix.python-version }}

    - name: Cache uv
    # Manually cache the uv cache directory
    # until setup-python supports it:
    # https://github.com/actions/setup-python/issues/822
      uses: actions/cache@v4
      id: cache-uv
      with:
        path: ~/.cache/uv
        key: uvcache-${{ runner.os }}-${{ hashFiles('pyproject.toml') }}

    - name: Install packages
      run: |
        python -m pip install -U uv
        uv pip install --upgrade --system -e .[dev]

    - name: Run examples
      run: chmod +x ./scripts/run-examples && ./scripts/run-examples